nav {
  background-color: rgba(252, 240, 3, 0.1);
  position: absolute;
  top: 31px;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  height: 106px;
  z-index: 2;
}
nav .logo img {
  height: 100px;
  width: auto;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
nav ul li {
  margin-right: 20px;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Rubik;
  font-weight: 500;
}
nav ul li a.active {
  color: #e4181f;
}
nav ul li a:hover {
  color: #e4181f;
}
nav a, nav a:hover, nav a:focus {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1149px) {
  nav {
    padding: 5px 10px;
  }
  nav .logo img {
    height: 60px;
  }
}
@media screen and (max-width: 991px) {
  nav {
    font-size: 14px;
    padding: 5px 0;
  }
  nav .logo img {
    height: 40px;
  }
  nav ul li:not(:last-child) {
    margin-right: 10px;
  }
  nav ul li:last-child {
    margin-right: 0px;
  }
}
@media screen and (max-width: 767px) {
  nav {
    display: none;
  }
}
@media screen and (max-width: 1103px) {
  nav {
    top: 51px;
  }
}
@media screen and (min-width: 1201px) {
  nav {
    top: 41px;
  }
}