.start-now {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Poppins;
  color: #333146;
  font-weight: 700;
}
.start-now h2 {
  letter-spacing: normal;
  font-size: 36px;
  line-height: 54px;
  padding-bottom: 50px;
  text-align: center;
}
.start-now img {
  width: 100%;
}
.start-now a {
  text-decoration: none;
}

.start-wrapper {
  max-width: 800px;
  padding-bottom: 100px;
}

.start-button {
  font-size: 14px;
  line-height: 60px;
  font-family: Rubik;
  padding: 0 45px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 5px;
  background-color: #e4181f;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.start-button:hover {
  background-color: #1b1a2f;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}