.swiper-container {
  width: 100%;
  height: auto;
  position: relative;
}

.swiper-slide {
  text-align: center;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.swiper-slide img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-pagination {
  position: absolute;
  bottom: 50px !important;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 10;
  width: auto;
  white-space: nowrap;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background: rgba(255, 255, 255, 0.3) !important;
  opacity: 1 !important;
  margin: 0 10px;
}

.swiper-pagination-bullet-active {
  background: #e4181f !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet:hover {
  background: #e4181f !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: #000;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
  padding: 0 10px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #e4181f;
  color: #fff;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 25px !important;
  color: #fff;
  font-weight: 500;
}

.swiper-button-next::after {
  margin-left: 3px;
}

.swiper-button-prev::after {
  margin-right: 3px;
}

.swiper-text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-weight: 700;
  font-size: calc(36px + 1.5vw);
  font-size: calc(42px + 1.5vw);
  z-index: 100;
  top: 35%;
  width: 100%;
  font-family: Roboto;
}

.basic-button {
  background-color: rgb(27, 26, 47);
  color: #fff;
  text-transform: uppercase;
}

.basic-button:hover {
  background-color: #e4181f;
}

.basic-button:active {
  -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, inset 5px 5px 15px 5px rgba(0, 0, 0, 0);
          box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, inset 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.button-container {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 65%;
}
.button-container a {
  text-decoration: none;
}

.apply-button {
  position: relative;
  cursor: pointer;
  height: 58px;
  width: 130px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-family: Rubik;
  z-index: 25;
}

@media screen and (max-width: 1149px) {
  .swiper-text {
    font-size: calc(32px + 1.5vw);
  }
  .apply-button {
    height: 45px;
    width: 110px;
    font-size: 14px;
  }
}
@media screen and (max-width: 991px) {
  .swiper-text {
    font-size: calc(28px + 1.5vw);
  }
  .apply-button {
    height: 40px;
    width: 100px;
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .swiper-container {
    width: auto;
    height: 100%;
  }
  .swiper-slide img {
    width: auto;
    height: 50%;
  }
}